<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 1: Create a Jupyter Notebook named DataScienceEcosystem.ipynb

Exercise 2: Create markdown cell with title of the notebook

# H1: Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Overview of Data Science tools and there applications
- Libraries for Data Science and why they are important
- Introduction to Jupyter Notebooks 
- Rstudio, and the benfits of using R
- GitHub and how to utilize it

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Scikit
2. Keras
3. Tensorflow
4. Pytorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools| 
| - |
|JupyterLab|
|Rstudio|
|Apache Spark|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

# H3: Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
singlehour=60
minutes/singlehour

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

See Exercise 3